# https://wiki.archlinux.org/title/Framework_Laptop_13_(AMD_Ryzen_7040_Series)#Speakers

[Unit]
Description=EasyEffects
After=pipewire.service

[Service]
ExecStart=/usr/bin/easyeffects --gapplication-service

[Install]
WantedBy=graphical-session.target
