[user]
	name = Tushar Khan
	email = tushar.54k@gmail.com
[init]
	defaultBranch = main
[fetch]
	prune = true
[pull]
	rebase = true
[rebase]
	autosquash = true
	committerDateIsAuthorDate = true
[alias]
	# shortcuts
	l = log --pretty='%C(yellow)%h%C(auto)%d %C(reset)%s %C(cyan)(%ad)%C(dim white) - %an%C(reset)' --graph --date=relative --date-order
	ll = l -10
	d = diff -w --word-diff=color --ignore-space-at-eol
	ds = d --cached
	dc = d HEAD --
	s = status -sb

	# custom commands
	amend = "!f() { GIT_COMMITTER_DATE=\"$(git show -s --format=%cI HEAD)\" git commit --amend --no-edit --date \"$(git show -s --format=%aI HEAD)\"; }; f"
	undo = reset --soft HEAD^
	unstage = restore --staged
	untrack = rm --cached
