* {
  font-family: "Material", "Fixedsys Excelsior 3.01-L2", monospace;
  font-size: 18px;
}

window#waybar {
  background: transparent;     /* no bar background */
}

#workspaces button,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#battery,
#backlight,
#clock,
#window,
#custom-updates {
    min-height: 32px;
    border-radius: 12px;  /* rounded pills */
    padding: 0 10px;      /* spacing inside pills */
    margin: 0 4px;        /* spacing between pills */
    color: #1C1E20;
}

#workspaces button.urgent   { background: #EC6798; }
#workspaces button.visible  { background: #8C8C8C; }
#workspaces button.focused  { background: #FFFFFF; }
#workspaces button:hover    { background: #666666; }
#cpu                        { background: #4bb84f; }
#memory                     { background: #E78958; }
#disk                       { background: #7A84C1; }
#network                    { background: #BE78D1; }
#network.disconnected       { background: #EC7875; }
#pulseaudio                 { background: #75A4CD; }
#pulseaudio:hover           { background: #5a82a7; }
#battery                    { background: #EC7875; }
#battery.full               { background: #61C766; }
#battery.charging           { background: #EC7875; }
#backlight                  { background: #76B84B; }
#clock                      { background: #EBD369; }
#clock:hover                { background: #c9af45; }
#custom-updates             { background: #EDB83F; }
